body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  height: 100%;
}

header {
  background-color: #222; /* Dark background */
  color: white;
  padding: 15px 20px;
  text-align: center;
}

.hero {
  background-image: url('https://r4.wallpaperflare.com/wallpaper/217/807/693/render-video-games-minecraft-wallpaper-89c0a84d910abddbd6b7f81fd0f1169d.jpg');
  background-size: cover;           
  background-position: center;
  background-repeat: no-repeat;     
  min-height: 100vh;                
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap; 
  animation: typing 2s steps(30, end); 
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  background-color: #333; 
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute; 
  bottom: 0;
  width: 100%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
